<%= form_for(@post) do |f| %>
  <% if @something.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@something.errors.count, "error") %> prohibited this something from being saved:</h2>
    <ul>
    <% @something.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_field :content %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
